.form {
  display: flex;
  flex-direction: row;
  gap: var(--inner-spacing-lg);
  padding: var(--inner-spacing-lg) 0;

  @include device-size('tablet') {
    flex-direction: column;
  }

  .form--text {
    height: 100%;

    .textbox {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--inner-spacing-md);
      padding: var(--text-padding-y) var(--text-padding-x);

      > div {
        display: flex;
        flex-direction: column;
        gap: var(--inner-spacing-md);
      }

      .gdymc_button-group {
        margin-top: var(--inner-spacing-lg);
        gap: var(--inner-spacing-sm);
      }
    }
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--inner-spacing-md);
    padding: var(--container-padding-y) var(--container-padding-x);

    .form--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--inner-spacing-md);

      > * {
        width: 100%;
        min-width: 200px;
      }
    }

    label {
      &.none {
        display: none;
      }
    }

    &.disabled {
      pointer-events: none;

      > * {
        opacity: .5;
      }

      > .form-overlay__failure,
      > .form-overlay__success {
        opacity: 1;
      }
    }

    &.loading {
      position: relative;
      width: 100%;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        border: 5px solid var(--text-color-dark);
        border-top-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
    }

    &.success {
      > * {
        display: none;
      }

      .form-overlay__success {
        display: block;
      }
    }

    &.failure {
      > * {
        display: none;
      }

      .form-overlay__failure {
        display: block;
      }
    }

    select {
      appearance: none;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjkuMi4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMi4xLjAgQnVpbGQgMTE2KSAgLS0+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5zdDAgewogICAgICAgIGZpbGw6ICNhNWI0Y2I7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yMzMuNCw0MDYuNmMxMi41LDEyLjUsMzIuOCwxMi41LDQ1LjMsMGwxOTItMTkyYzEyLjUtMTIuNSwxMi41LTMyLjgsMC00NS4zcy0zMi44LTEyLjUtNDUuMywwbC0xNjkuNCwxNjkuNEw4Ni42LDE2OS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMsMHMtMTIuNSwzMi44LDAsNDUuM2wxOTIsMTkyaDBaIi8+Cjwvc3ZnPg==");
      background-repeat: no-repeat;
      background-position: right var(--inner-spacing-md) center;
      background-size: .8rem;
      padding-right: 3rem;
      cursor: pointer;
    }

    input, select {
      width: 100%;
      padding: var(--inner-spacing-md);
      outline: none;
      box-shadow: none;
      border: none;
      border-radius: var(--border-radius-md);
      background-color: rgba(17, 17, 17, 0.05);
      color: var(--text-color-dark);
      font-family: var(--base-font-family);
      font-size: var(--p-font-size);
      font-weight: var(--p-font-weight);
      letter-spacing: var(--p-letter-spacing);

      transition: box-shadow 0.22s ease-in-out;

      &:focus {
        box-shadow: var(--shadow-elevation-medium);
      }

      &::placeholder {
        font-family: var(--base-font-family);
        color: var(--text-color-dark);
        font-size: var(--p-font-size);
        font-weight: var(--p-font-weight);
      }

      @include device-size('tablet') {
        padding: var(--inner-spacing-sm);
      }
    }

    input:is([type="text"], [type="email"], [type="tel"]).invalid,
    select.invalid {
      outline: 2px solid var(--error-color);
    }

    textarea {
      width: 100%;
      padding: var(--inner-spacing-md);
      outline: none;
      box-shadow: none;
      border: none;
      border-radius: var(--border-radius-md);
      background-color: rgba(17, 17, 17, 0.05);
      color: var(--text-color-dark);
      font-family: var(--base-font-family);
      font-size: var(--p-font-size);
      font-weight: var(--p-font-weight);
      letter-spacing: var(--p-letter-spacing);
      overflow-y: hidden;
      resize: none;

      transition: box-shadow 0.22s ease-in-out;

      &:focus {
        box-shadow: var(--shadow-elevation-medium);
      }

      &::placeholder {
        font-family: var(--base-font-family);
        color: var(--text-color-dark);
        font-size: var(--p-font-size);
        font-weight: var(--p-font-weight);
      }

      @include device-size('tablet') {
        padding: var(--inner-spacing-sm);
      }
    }

    .filePreview {
      display: flex;
      flex-direction: row;
      gap: var(--inner-spacing-md);
      overflow: auto;
      margin-bottom: var(--inner-spacing-lg);

      &.populated {
        padding: var(--inner-spacing-md);
        background-color: rgba(17, 17, 17, 0.05);
      }

      .filePreviewItem {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        background-color: rgba(17, 17, 17, 0.5);

        span {
          font-size: var(--caption-font-size);
          padding: var(--inner-spacing-sm);
          color: var(--text-color-light);
        }
      }
    }

    input[type="checkbox"] {
      position: relative;
      z-index: 0;
      -webkit-appearance: none;
      background-color: transparent;
      width: 0;
      padding: 0;

      &.invalid {
        border-radius: 0;
        border-left: 2px solid var(--error-color) !important;
        padding-left: 10px;
      }

      + label {
        position: relative;
        display: inline-block;
        align-self: center;
        margin-left: 25px;
        cursor: pointer;
      }

      + label::before {
        width: 15px;
        height: 15px;
        border-radius: var(--border-radius-md);
        border: 2px solid rgba(17, 17, 17, 0.5);
        background-color: var(--standard-white);
        display: block;
        content: "";
        float: left;
        margin-right: 5px;
        z-index: 5;
        position: relative;
        margin-left: -25px;
      }

      &:checked+label::before {
        box-shadow: inset 0px 0px 0px 3px var(--standard-white);
        background-color: rgba(17, 17, 17, 0.5);
      }
    }

    .gdymc_button_container {
      margin-top: var(--inner-spacing-lg);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--inner-spacing-sm);

      .submit_underline {
        position: relative;
      }

      &:hover .submit_underline:after {
        width: 100%;
      }
    }
  }

  .form-overlay__success {
    display: none;
  }

  .form-overlay__failure {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background {
  &-neutral {
    .form {
      form .filePreview {
        &.populated {
          background-color: rgba(17, 17, 17, 0.05);
        }

        .filePreviewItem {
          background-color: rgba(17, 17, 17, 0.5);
        }
      }

      input, select, textarea {
        background-color: rgba(17, 17, 17, 0.05);
        color: var(--text-color-dark);

        &::placeholder {
          color: var(--text-color-dark);
        }
      }

      input[type="checkbox"] {
        + label {
          color: var(--text-color-dark);
        }

        + label::before {
          border: 2px solid rgba(17, 17, 17, 0.5);
          background-color: var(--standard-off-white);
        }

        &:checked+label::before {
          box-shadow: inset 0px 0px 0px 3px var(--standard-off-white);
          background-color: rgba(17, 17, 17, 0.5);
        }
      }

      input[type="submit"].button {
        background-color: var(--accent-color);
        color: var(--text-color-light);

        &:hover {
          background-color: var(--accent-color);
        }
      }

      label {
        color: var(--text-color-dark);
      }
    }
  }

  &-light {
    .form {
      form .filePreview {
        &.populated {
          background-color: var(--base-color-light);
        }

        .filePreviewItem {
          background-color: var(--base-color);
        }
      }

      input, select, textarea {
        background-color: var(--base-color-light);
        color: var(--text-color-dark);

        &::placeholder {
          color: var(--text-color-dark);
        }
      }

      input[type="checkbox"] {
        + label {
          color: var(--text-color-dark);
        }

        + label::before {
          border: 2px solid var(--base-color);
          background-color: var(--base-color-background-light);
        }

        &:checked+label::before {
          box-shadow: inset 0px 0px 0px 3px var(--base-color-background-light);
          background-color: var(--base-color);
        }
      }

      input[type="submit"].button {
        background-color: var(--base-color);
        color: var(--text-color-light);

        &:hover {
          background-color: var(--base-color-dark);
        }
      }

      label {
        color: var(--text-color-dark);
      }
    }
  }

  &-dark {
    .form {
      form .filePreview {
        &.populated {
          background-color: var(--base-color-dark);
        }

        .filePreviewItem {
          background-color: var(--base-color);
        }
      }

      input, select, textarea {
        background-color: var(--base-color-dark);
        color: var(--text-color-light);

        &::placeholder {
          color: var(--text-color-light);
        }
      }

      input[type="checkbox"] {
        + label {
          color: var(--text-color-light);
        }

        + label::before {
          border: 2px solid var(--base-color);
          background-color: var(--base-color-background-dark);
        }

        &:checked+label::before {
          box-shadow: inset 0px 0px 0px 3px var(--base-color-background-dark);
          background-color: var(--base-color);
        }
      }

      input[type="submit"].button {
        background-color: var(--base-color);
        color: var(--text-color-light);

        &:hover {
          background-color: var(--base-color-dark);
        }
      }

      label {
        color: var(--text-color-light);
      }
    }
  }

  &-accent {
    .form {
      form .filePreview {
        &.populated {
          background-color: var(--accent-color-dark);
        }

        .filePreviewItem {
          background-color: var(--accent-color);
        }
      }

      input, select, textarea {
        background-color: var(--accent-color-dark);
        color: var(--text-color-light);

        &::placeholder {
          color: var(--text-color-light);
        }
      }

      input[type="checkbox"] {
        + label {
          color: var(--text-color-light);
        }

        + label::before {
          border: 2px solid var(--accent-color-dark);
          background-color: var(--accent-color);
        }

        &:checked+label::before {
          box-shadow: inset 0px 0px 0px 3px var(--accent-color);
          background-color: var(--accent-color-dark);
        }
      }

      input[type="submit"].button {
        background-color: var(--accent-color-dark);
        color: var(--text-color-light);

        &:hover {
          background-color: var(--accent-color-background-dark);
        }
      }

      label {
        color: var(--text-color-light);
      }
    }
  }
}