:root {
  --max-image-height: 60vh;
  --desktop-aspect-ratio: 2 / 1;
  --mobile-aspect-ratio: 1 / 1;
}

.photobook {
  width: 100%;

  .content--photobook {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--inner-spacing-md);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    .slide {
      width: 100%;
      position: sticky;
      bottom: var(--outer-spacing-md);
      min-height: 60vh;
      margin-bottom: var(--inner-spacing-md);
      background-color: var(--standard-off-white);
      border-radius: var(--border-radius-lg);
      box-shadow: var(--shadow-elevation-medium);
      padding: var(--inner-spacing-md);
      display: flex;
      flex-direction: row;
      gap: var(--inner-spacing-md);

      > * {
        flex-basis: 50%;
      }

      .slide-image {
        height: 100%;
        width: 100%;

        .imagebox {
          height: 100%;
          width: 100%;

          .img {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-md);
            overflow: hidden;
          }
        }
      }

      .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--inner-spacing-sm);

        .textbox {
          display: flex;
          flex-direction: column;
          gap: var(--inner-spacing-sm);
        }
      }
    }
  }
}