.gdymc_module {
  &.connect-lower {
    .module:not([connect='false']) {
      padding-bottom: calc(var(--inner-spacing-sm) / 2);
    }
  }
}

.gdymc_module {
  &.connect-upper {
    .module:not([connect='false']) {
      padding-top: calc(var(--inner-spacing-sm) / 2);
    }
  }
}

.module {
  position: relative;

  padding: var(--module-spacing) 0;
}