.accordion {
  display: flex;
  flex-direction: column;
  row-gap: var(--outer-spacing-lg) !important;

  @include device-size('tablet') {
    row-gap: var(--inner-spacing-lg);
  }

  &.disabled {
    min-height: unset;

    .accordion-container {
      .accordion-header {
        cursor: default;
      }
    }
  }

  .accordion-container {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    list-style: none;
    overflow: hidden;
    border-radius: var(--border-radius-lg);

    .accordion-outer {
      position: relative;
      pointer-events: none;
      background-color: var(--standard-off-white);

      .accordion-header {
        padding: var(--inner-spacing-md);
        cursor: pointer;
        pointer-events: all;

        div.accordion-headline {
          pointer-events: none;
        }

        &.accordion--open {
          &.accordion-header div.accordion-headline {
            font-weight: 600;
          }
  
          + .accordion-inner {
            height: auto;
            height: -webkit-calc-size(auto, size);
            height: calc-size(auto, size);
            opacity: 1;
            padding: 0 var(--inner-spacing-md);
            padding-bottom: var(--inner-spacing-md);
            pointer-events: auto;
            transform: translateY(0px);
          }
        }
      }

      .accordion-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--inner-spacing-sm);

        height: 0;
        opacity: 0;
        transform: translateY(-15px);
        padding: 0 var(--inner-spacing-md);

        pointer-events: none;

        transition: 
          height 0.12s ease-in-out,
          opacity 0.12s ease-in-out,
          transform 0.12s ease-in-out;
      }
    }
  }

  .content--text {
    position: relative;
    height: 100%;

    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--inner-spacing-md);
      padding: var(--inner-text-padding-y) var(--inner-text-padding-x);

      @include device-size('tablet') {
        height: 100%;
        max-width: var(--textbox-max-width);
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: var(--inner-spacing-md);
      }
    }

    .gdymc_button-group {
      margin-top: var(--inner-spacing-lg);
      gap: var(--inner-spacing-sm);
    }
  }
}


.background {
  &-neutral {
    .accordion {
      .accordion-container {
        .accordion-outer {
          background-color: var(--standard-white);
        }
      }
    }
  }

  &-light {
    .accordion {
      .accordion-container {
        .accordion-outer {
          background-color: var(--base-color-light);
        }
      }
    }
  }

  &-dark {
    .accordion {
      .accordion-container {
        .accordion-outer {
          background-color: var(--base-color-dark);
        }
      }
    }
  }

  &-accent {
    .accordion {
      .accordion-container {
        .accordion-outer {
          background-color: var(--accent-color-dark);
        }
      }
    }
  }
}

.gdymc_edit .accordion-title {
  pointer-events: all;
}