.module.header {
  position: relative;
  padding: var(--module-spacing) 0;
  padding-top: 0;

  .content--image {
    height: 60vh;

    .gdymc_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: all;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      video.gdymc_video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .subgrid {
    align-items: end;
    margin-top: -120px;
  }

  .content--text {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: flex-end;
    padding: var(--inner-spacing-md);
    gap: var(--inner-spacing-md);
    z-index: 1;
    pointer-events: none;
    background-color: var(--standard-off-white);
    border-radius: var(--border-radius-lg);

    > * {
      pointer-events: all;
    }

    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: var(--inner-spacing-md);
    }
  }

  @include device-size('tablet') {
    .content--text {
      padding: var(--inner-spacing-lg);
      gap: var(--inner-spacing-lg);

      .textbox {
        gap: var(--inner-spacing-md);
      }

      .gdymc_button-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}

.background {
  &-neutral {
    .module.header {
      .content--text {
        background-color: var(--standard-white);
        color: var(--text-color-dark);
      }
    }
  }

  &-light {
    .module.header {
      .content--text {
        background-color: var(--base-color-light);
        color: var(--text-color-dark);
      }
    }
  }

  &-dark {
    .module.header {
      .content--text {
        background-color: var(--base-color-dark);
        color: var(--text-color-light);
      } 
    }
  }

  &-accent {
    .module.header {
      .content--text {
        background-color: var(--accent-color-dark);
        color: var(--text-color-light);
      }
    }
  }
}