// Inter Variable
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/inter/inter.ttf') format('truetype');
}

// Inter Variable Italic
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: italic;
  src: url('../fonts/inter/inter-italic.ttf') format('truetype');
}

// Public Sans Variable
@font-face {
  font-family: 'Public Sans';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/publicsans/publicsans.ttf') format('truetype');
}

// Public Sans Variable Italic
@font-face {
  font-family: 'Public Sans';
  font-display: swap;
  font-style: italic;
  src: url('../fonts/publicsans/publicsans-italic.ttf') format('truetype');
}


:root {
  --headline-font-family: 'Public Sans', sans-serif;
  --subline-font-family: 'Inter', sans-serif;
  --base-font-family: 'Public Sans', sans-serif;
  --button-font-family: 'Inter', sans-serif;
  --navigation-font-family: 'Inter', sans-serif;
}