footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  gap: var(--inner-spacing-lg);
  column-gap: var(--column-gap);
  box-shadow: var(--shadow-bottom-elevation-medium);


  .footer {
    position: relative;
    margin-top: var(--outer-spacing-md);
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: var(--inner-spacing-md);

      img {
        height: 80px;
        width: auto;
        object-fit: contain;
        object-position: 0 center;
      }
    }

    .copyright {
      color: var(--footer-text-color-accent);
      padding-top: var(--inner-spacing-md);
    }

    .textbox {
      padding: 0 var(--text-padding-x);
    }

    ul.menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style: none;
      gap: var(--inner-spacing-sm);
      margin: 0;
      margin-top: var(--inner-spacing-lg);
      padding: 0;

      li a {
        color: var(--footer-text-color-accent);
        text-decoration: none;
        font-size: var(--p-font-size);
        font-weight: var(--p-font-weight);
        line-height: 1.5;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      
      }
    }

    .company-information {
      p {
        font-size: var(--p-font-size);
        color: var(--footer-text-color-accent);
        margin-top: var(--inner-spacing-sm);
      }

      a {
        color: var(--footer-text-color-accent);
        transition: color 0.15s ease-in-out;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .superfooter {
    position: relative;
    margin-bottom: var(--outer-spacing-md);
    gap: var(--inner-spacing-lg) 0;
    width: 100%;

    ul.menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      gap: var(--inner-spacing-sm);
      margin: 0;
      margin-top: var(--inner-spacing-lg);
      padding: 0;

      li a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-size: 30px;
        font-weight: var(--p-font-weight);
        line-height: 1;
        transition: color 0.15s ease-in-out;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      
      }
    }

    .fvg_backlink {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: var(--outer-spacing-md);

      a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;

        p {
          font-size: .6rem;
          line-height: .6rem;
          font-weight: var(--p-font-weight);
          color: var(--footer-text-color);
          text-align: right;
        }

        svg {
          display: block;
          height: 35px;
          fill: var(--footer-text-color);
  
          transition: fill 0.12s ease-in-out;
        }

        &:hover {
          svg {
            fill: var(--accent-color);
          }
        }
      }
    }
  }

  @include device-size('tablet') {
    .footer {
      &.grid {
        margin: var(--outer-spacing-md) auto;
      }

      ul.menu {
        flex-direction: column;
        margin: 0;
      }
    }

    .superfooter {
      &.grid {
        margin: var(--outer-spacing-md) auto;
      }

      ul.menu {
        margin: 0;
      }

      .fvg_backlink {
        margin-top: 0;
        justify-content: flex-end;
      }
    }
  }
}

