:root {
  --max-image-height: 60vh;
  --desktop-aspect-ratio: 2 / 1;
  --mobile-aspect-ratio: 1 / 1;
}

@include device-size('tablet') {
  :root {
    --max-image-height: 60vh;
  }
}

.gallery {
  width: 100%;

  .content--gallery {
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: var(--border-radius-lg);
    overflow: hidden;

    ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;

      li {
        width: 100%;
        width: fit-content;
      }
    }

    div.swiper {
      width: 100%;
      height: 100%;
      overflow: unset;
    }

    .img {
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      object-fit: cover;
      overflow: hidden;
      aspect-ratio: var(--mobile-aspect-ratio);
    }

    img {
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      object-fit: cover;
      aspect-ratio: var(--mobile-aspect-ratio);
      border-radius: var(--border-radius-lg);
    }

    video.gdymc_video {
      display: block;
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      object-fit: cover;
      aspect-ratio: var(--mobile-aspect-ratio);
      border-radius: var(--border-radius-lg);
    }
  }

  .content--controls {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;

    .controlsbox {
      display: flex;
      flex-basis: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: var(--inner-text-padding-y) var(--inner-text-padding-x);

      &:hover :is(.swiper-button-next, .swiper-button-prev):before {
        opacity: 1;
      }

      .swiper-button-next, .swiper-button-prev {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 45px;
        text-align: center;
        cursor: pointer;
        pointer-events: all;
        opacity: 1;
        vertical-align: middle;
        background-color: var(--standard-off-white);
        z-index: 1;
        border-radius: var(--border-radius-md);

        transition: background-color 0.15s ease-in-out;

        > div.fa-solid {
          color: var(--text-color-dark) !important; // Override background textcolor
        }

        &:hover {
          background-color: var(--standard-white);
        }
      }
    }
  }

  @include device-size('tablet') {
    .content--gallery {
      div.swiper {
        height: var(--max-image-height);
      }

      .img, img {
        aspect-ratio: var(--desktop-aspect-ratio);
        max-height: unset;
      }
    }
  }

  &.gallery--single {
    .content--gallery {
      width: 100%;
      height: 100%;
      max-height: var(--max-image-height);
      aspect-ratio: var(--mobile-aspect-ratio);

        ul {
        position: relative;
        width: 100%;
        height: 100%;

        li {
          width: 100% !important;
          height: 100%;
        }

        .img, img {
          width: 100%;
          height: 100%;
          max-height: var(--max-image-height);
          object-fit: cover;
          aspect-ratio: var(--mobile-aspect-ratio);
        }
      }
    }
  }
}
