.cards {
  display: flex;
  flex-direction: row;

  .content--text {
    position: relative;
    height: 100%;

    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      gap: var(--inner-spacing-md);
      padding: var(--text-padding-y) var(--text-padding-x);
    }
  
    .gdymc_button-group {
      margin-top: var(--inner-spacing-lg);
    }
  }

  .content--cards {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    container-name: cards-container;
    container-type: inline-size;

    &.vertical {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--inner-spacing-sm);
      
      > .card {
        flex-basis: auto;
        max-width: unset;
        justify-content: flex-start;
        padding-top: var(--text-padding-y);
        gap: var(--inner-spacing-md);
        background-color: var(--standard-off-white);
        border-radius: var(--border-radius-lg);

        .card-header {
          .gdymc_image {
            display: none;
          }
        }
      }
    }

    &.horizontal {
      flex-direction: row;
      height: 100%;
      gap: var(--inner-spacing-sm);
    }

    > * {
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--standard-off-white);
      gap: var(--inner-spacing-sm);
      border-radius: var(--border-radius-lg);
      overflow: hidden;

      &:last-child {
        border-right: none;
      }
    }

    .card-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--inner-spacing-md);

      .gdymc_image {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 40vh;

        img, .img {
          width: 100%;
          height: 100%;
          aspect-ratio: 1 / 1;
        }

        video.gdymc_video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .textbox {
        padding: 0 var(--text-padding-x);

        .card-headline-numbers {
          display: inline-block;
          margin-top: var(--text-padding-y);
          width: 100%;
        }
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--inner-spacing-md);
      padding: 0 var(--text-padding-x);
      padding-bottom: var(--text-padding-y);
      height: 100%;

      .gdymc_button-group {
        gap: var(--inner-spacing-sm);
      }
    }

    @container cards-container (width > 700px) {
      &.horizontal {
        .card {
          flex-basis: calc(100% / 2 - (var(--inner-spacing-sm) / 2));
          max-width: calc(100% / 2 - (var(--inner-spacing-sm) / 2));
        }
      }
    }
  }

  @include device-size('tablet') {
    .content--cards {
      flex-wrap: wrap;
      gap: 2px;

      .card {
        .card-header {
          .gdymc_image + h6.subline {
            padding: var(--inner-spacing-sm);
          }

          h6.subline {
            padding: var(--text-padding-y) var(--inner-spacing-sm);
          }
        }
      }
    }
  }
}

.background {
  &-neutral {
    .cards {
      .content--cards:is(.horizontal, .vertical) {
        > .card {
          background-color: var(--standard-white);
        }
      }
    }
  }

  &-light {
    .cards {
      .content--cards:is(.horizontal, .vertical) {
        > .card {
          background-color: var(--base-color-light);
        }
      }
    }
  }

  &-dark {
    .cards {
      .content--cards:is(.horizontal, .vertical) {
        > .card {
          background-color: var(--base-color-dark);
        }
      }
    }
  }
  
  &-accent {
    .cards {
      .content--cards:is(.horizontal, .vertical) {
        > .card {
          background-color: var(--accent-color-dark);
        }
      }
    }
  }
}