.banner {
  .content--text {
    .banner-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--inner-spacing-md);
      padding: 0 var(--text-padding-x);

      .gdymc_text, .gdymc_text * {
        display: inline-block;
      }

      @include device-size('tablet') {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: var(--inner-spacing-lg);
      }

      .textbox {
        display: flex;
        flex-direction: column;
        gap: var(--inner-spacing-sm);
      }

      .gdymc_button-group {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--inner-spacing-sm) var(--inner-spacing-lg);
        padding: 0;
      }
    }
  }
}

.gdymc_module_banner .module {
  padding: calc(var(--module-spacing) / 2) 0;
}